@font-face {
  font-family: IRANSans;
  src: url('/src/assets/fonts/IRANSans.ttf');
}

div {
  font-family: IRANSans;
}

.logo {
  padding: 20px;
  line-height: 35px;
  background: '#fff';
}

.profile {
  padding: 10px;
  width: 100%;
}
